<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GY</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.4.3.1.css" type="text/css">-->
    <link rel="stylesheet" href="css/iview.4.0.0.css" type="text/css">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/iview.min.4.0.0.js"></script>
    <style>
        html,body,#app,.flex-row{
            width: 100%;
        }
        .flex-row{
            width: 60%;
            margin: 2vh auto;
        }
        form{
            width: 100%;
            border: 1px solid #eeeeee;
            overflow: hidden;
        }
        form .form-group{
            float: left;
            display: flex;
            flex-direction: row;
            width: 94%;
            margin-top: 2vh;
            margin-left: 3%;
        }
        form .form-small-group{
            width: 47%;
        }

        form .form-group label{
            width: 12%;
        }
        form .form-small-group label{
            width: 24%;
        }
        form .form-group input{
            width: 70%;
            border: 1px solid #000;
        }
        .flex-row>input{
            width: 40%;
            margin: 2vh 30%;
        }
        form .form-group textarea{
            width: 84.5%;
        }
    </style>
</head>
<body>
<div id="app" class="container-fluid">
    <!--Gy welcome index-->
    <!--<div>{{msg}}</div>-->

    <!--<i-button type="primary" @click="addComponent"/>-->
    <div class="flex-row">
        <!--<i-select />-->
        <input type="text" list="search" @change="search">
        <datalist id="search">
            <template v-for="item in list">
                <option :value="item.id">{{item.label}}</option>
            </template>
        </datalist>
    </div>

    <div class="flex-row">
        <form >
            <div class="form-group form-small-group">
                <label>标签1</label>
                <input v-model="addForm.tag1"/>
            </div>
            <div class="form-group form-small-group">
                <label>标签2</label>
                <input v-model="addForm.tag2"/>
            </div>
            <div class="form-group">
                <label>html代码</label>
                <textarea v-model="addForm.htmlCode" rows="15"></textarea>
            </div>
            <div class="form-group">
                <label>groovy代码</label>
                <textarea v-model="addForm.groovyCode" rows="15"></textarea>
            </div>
            <div>
                <button @click="addComponent">添加</button>
            </div>
            <!--<form-item label="标签1">-->
                <!--<i-input v-model="addForm.tag1" placeholder="标签1"/>-->
            <!--</form-item>-->
            <!--<form-item label="标签2">-->
                <!--<i-input v-model="addForm.tag2" placeholder="标签2"/>-->
            <!--</form-item>-->
            <!--<form-item label="标签3">-->
                <!--<i-input v-model="addForm.tag3" placeholder="标签3"/>-->
            <!--</form-item>-->
            <!--<form-item label="html代码">-->
                <!--<i-input v-model="addForm.htmlCode" type="textarea" :autosize="{minRows: 10,maxRows: 50}"/>-->
            <!--</form-item>-->
            <!--<form-item label="groovy代码">-->
                <!--<i-input v-model="addForm.groovyCode" type="textarea" :autosize="{minRows: 10,maxRows: 50}"/>-->
            <!--</form-item>-->
            <!--<form-item label="java代码">-->
                <!--<i-input v-model="addForm.javaCode" type="textarea" :autosize="{minRows: 10,maxRows: 50}"/>-->
            <!--</form-item>-->
            <!--<form-item label="备注">-->
                <!--<i-input v-model="addForm.comment" type="textarea" :autosize="{minRows: 10,maxRows: 50}"/>-->
            <!--</form-item>-->
        </form>
    </div>

    <!--<div>-->
        <!--<form id="form1">-->
            <!--<input type="file" name="file">-->
            <!--<input type="button" value="提交" @click="addFile">-->
        <!--</form>-->
        <!--{{addResult}}-->
    <!--</div>-->
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ws: null, msg: '', addResult: null,
            optId:'', loading: false, list: [],
            showAddForm: false, addForm: {}
        },
        mounted: function () {
            // this.initWs();
            this.search('')
        },
        methods: {
            addComponent: function() {
                var _this = this
                $.ajax({
                    url:'addComponent',
                    type: 'post',
                    data: _this.addForm,
                    success: function (resp) {
                        if (resp.success) {

                        } else {
                            app.$Notice.error({
                                title: '成功提示',
                                desc: '添加成功'
                            })
                        }
                    }
                })
            },
            search: function(keyword) {
                var _this = this
                // 选择某个选项时
                if (keyword != '' && keyword == _this.optId) {

                }
                _this.loading = true
                $.ajax({
                    url: 'search?keyword=' + keyword,
                    success: function (resp) {
                        _this.loading = false
                        if (resp.success) {
                            _this.list = resp.data
                        } else {
                            _this.list = []
                            app.$Notice.error({
                                title: '错误提示',
                                desc: resp.desc
                            })
                        }
                    }
                })
            },
            addFile: function () {
                var _this = this;
                var fd = new FormData($('#form1')[0])
                $.ajax({
                    url: 'upload',
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (resp) {
                        _this.addResult = resp;
                    }
                })
            },
            initWs: function () {
                var _this = this;
                this.ws = new WebSocket("ws://localhost:8080/ws");
                this.ws.onmessage= function (msg) {
                    _this.msg = msg.data;
                };
                setInterval(function () {
                    _this.ws.send('xxxxxxx' + new Date());
                }, 7000);
            }
        },

    });
</script>
</body>
</html>