package sevice.rule.policy

import sevice.rule.spec.PolicySpec
import static sevice.rule.spec.RuleSpec.*

new PolicySpec().with {
    策略名 = 'JB政策及身份验证'

    规则定义 {
        关闭()
        规则名 = 'JB03分期乐传输的客户授信额度大于3万'
        规则id = 'JB03'

        拒绝 {
            大于("$恒生_分期乐传给我司的总授信额度", 30000)
        }
    }

    规则定义 {
        规则名 = '两月内不可继续申请'
        规则id = '两月内不可继续申请'

        拒绝 {
            或者(
                等于("$锦程_是否存在当前逾期", true),
                不包含("$恒生_信贷系统是否存在当前逾期", true)
            )
        }
    }

    规则定义 {
        规则名 = 'JB04客户年龄小于18岁或大于55岁xt_C'
        规则id = 'JB04'

        拒绝 {
            或者(
                小于("$年龄", 18),
                大于("$年龄", 55)
            )
        }
    }

    规则定义 {
        规则名 = 'JB05验证申请人身份证是否已有锦囊贷授信额度'
        规则id = 'JB05'

        拒绝 {
            大于("$锦囊贷授信额度", 0)
        }
    }

    规则定义 {
        规则名 = 'JB06客户申请贷款时提供的身份证有效期是否小于30天xt_D'
        规则id = 'JB06'

        拒绝 {
            小于("$身份证到期日距查询当日天数", 30)
        }
    }

    规则定义 {
        规则名 = 'JB07客户居住省份且客户工作省份属于禁入区域或暂时禁入区域xt_E'
        规则id = 'JB07'
        规则描述 = "是否命中自定义名单"

        列表定义('禁入区域或暂时禁入区域分期乐',
            '澳门特别行政区', '香港特别行政区', '新疆维吾尔自治区', '西藏自治区',
            '内蒙古自治区', '宁夏回族自治区', '未知', '新疆', '西藏', '香港', '内蒙古', '青海', '福建', '宁夏', '甘肃',
            '海南', '贵州', '澳门', '台湾'
        )
        拒绝 {
            并且(
                在列表中("禁入区域或暂时禁入区域分期乐", "$工作地所在省"),
                在列表中("禁入区域或暂时禁入区域分期乐", "$居住地所在省")
            )
        }
    }

    规则定义 {
        规则名 = 'JB08申请人是否命中锦程自有黑名单'
        规则id = 'JB08'

        拒绝 {
            等于("$锦程_是否命中个人黑名单", true)
        }
    }

    规则定义 {
        规则名 = 'JB09new用户姓名_身份证_手机号三者是否匹配xt_G'
        规则id = 'JB09new'
        关闭()

        拒绝 {
            或者(
                不等于("$鹏元_手机核查_姓名核查结果", '一致'),
                不等于("$鹏元_手机核查_证件号码核查结果", '一致'),
                不等于("$鹏元_手机核查_手机号码核查结果", '一致'),
            )
        }
    }

    规则定义 {
        规则名 = 'JB09用户姓名_身份证_手机号三者是否匹配'
        规则id = 'JB09'
        关闭()

        拒绝 {
            不等于("$集奥_三元认证结果", 0)
        }
    }

    规则定义 {
        规则名 = 'JB10客户行业命中以下类型'
        规则id = 'JB10'

        拒绝 {
            或者(
                包含("$客户工作单位所属行业", '电力、热力、燃气及水生产和供应'),
                包含("$客户工作单位所属行业", '制造业'),
                包含("$客户工作单位所属行业", '租赁和商务服务业'),
                包含("$客户工作单位所属行业", '批发和零售业'),
            )
        }
    }
}
