package sevice.rule.policy

import sevice.rule.spec.PolicySpec
import static sevice.rule.spec.RuleSpec.*

new PolicySpec().with {
    策略名 = 'JD欺诈类校验'

    规则定义 {
        规则名 = 'JD01命中百融公检法失信被执行人xt_B'
        规则id = 'JD01'

        拒绝 {
            等于("$百融_法院_是否为失信被执行人", true)
        }
    }

    规则定义 {
        规则名 = 'JD02命中百融公检法被执行人xt_B'
        规则id = 'JD02'

        拒绝 {
            等于("$百融_法院_是否为被执行人", true)
        }
    }

    规则定义 {
        规则名 = 'JD03通过姓名加身份证查询申请人命中自然人识别中的在逃xt_B'
        规则id = 'JD03'

        拒绝 {
            等于("$百融_个人信息是否命中在逃", 1)
        }
    }

    规则定义 {
        规则名 = 'JD04通过姓名加身份证查询申请人是否命中自然人识别中的违法行为xt_B'
        规则id = 'JD04'
        关闭()

        拒绝 {
            等于("$百融_个人信息是否命中违法行为", 1)
        }
    }

    规则定义 {
        规则名 = 'JD05通过姓名加身份证查询申请人是否命中自然人识别中的涉毒xt_B'
        规则id = 'JD05'
        关闭()

        拒绝 {
            等于("$百融_个人信息是否命中涉毒", 1)
        }
    }

    规则定义 {
        规则名 = 'JD06通过姓名加身份证查询申请人是否命中自然人识别中的吸毒xt_B'
        规则id = 'JD06'
        关闭()

        拒绝 {
            等于("$百融_个人信息是否命中吸毒", 1)
        }
    }

    规则定义 {
        规则名 = 'JD07客户命中融慧_欺诈风险分xt_B'
        规则id = 'JD07'

        拒绝 {
            大于等于("$融慧_黑名单欺诈风险分", 75)
        }
    }

    规则定义 {
        规则名 = 'JD08若用户命中融慧风险名单A1A2B1B2等级xt_B'
        规则id = 'JD08'

        拒绝 {
            或者(
                包含("$融慧_风险名单命中原因码", 'A1'),
                包含("$融慧_风险名单命中原因码", 'A2'),
                包含("$融慧_风险名单命中原因码", 'B1'),
                包含("$融慧_风险名单命中原因码", 'B2'),
            )
        }
    }

    规则定义 {
        规则名 = 'JD09命中黑名单及Q1xt_B'
        规则id = 'JD09'

        拒绝 {
            或者(
                包含("$融慧_黑名单命中原因码", 'RC1006'),
                包含("$融慧_黑名单命中原因码", 'RC1007'),
                包含("$融慧_黑名单命中原因码", 'RC1001'),
                包含("$融慧_黑名单命中原因码", 'RC1002'),
                包含("$融慧_黑名单命中原因码", 'RC1008'),
            )
        }
    }

    规则定义 {
        规则名 = 'JD10若客户命中新颜逾期名单xt_B'
        规则id = 'JD10'
        关闭()

        拒绝 {
            大于等于("$新颜_逾期行为的订单总笔数", 1)
        }
    }

    规则定义 {
        规则名 = 'JD11设备是山寨机xt_K'
        规则id = 'JD11'

        拒绝 {
            等于("$融慧_新多头是否山寨机", 1)
        }
    }
}