package sevice.rule.policy

import sevice.rule.spec.PolicySpec
import static sevice.rule.spec.RuleSpec.*

new PolicySpec().with {
    策略名 = 'JF多头类校验'

    规则定义 {
        规则名 = 'JF01融慧月更多头分大于等于20xt_J'
        规则id = 'JF01'

        拒绝 {
            大于等于("$融慧_月更多头指数", 20)
        }
    }

    规则定义 {
        规则名 = 'JF02融慧日更多头分大于等于20xt_J'
        规则id = 'JF02'

        拒绝 {
            大于等于("$融慧_日更多头指数", 20)
        }
    }

    规则定义 {
        规则名 = 'JF03阿里多头借贷风险逾期等级为高xt_J'
        规则id = 'JF03'

        拒绝 {
            等于("$阿里_风险标签值", 'md030')
        }
    }

    规则定义 {
        规则名 = 'JF04身份证查询百融近三个月非银多头次数大于等于15xt_J'
        规则id = 'JF04'

        拒绝 {
            大于等于("$百融_多头_身份证近3个月在非银机构申请次数", 20)
        }
    }
}