策略名 = 'test1'

规则定义 {
    // 关闭()
    规则名 = 'JB01new申请额度'
    规则id = 'JB01'

    通过 {
        // 包含的用法
        "$身份证号码".contains('1')
    }

    操作 {
        申请贷款金额 = 20
    }
}

规则定义 {
    // 关闭()
    规则名 = 'JB03传输的客户授信额度大于3万'
    规则id = 'JB03'

    拒绝 {
        申请贷款金额 == null || 申请贷款金额 > 20
    }
}

规则定义 {
    规则名 = 'JB07客户居住省份且客户工作省份属于禁入区域或暂时禁入区域xt_E'
    规则id = 'JB07'
    规则描述 = '是否命中自定义名单'

    禁入区域或暂时禁入区域分期乐 = [
        '澳门特别行政区', '香港特别行政区', '新疆维吾尔自治区', '西藏自治区',
        '内蒙古自治区', '宁夏回族自治区', '未知', '新疆', '西藏', '香港', '内蒙古', '青海', '福建', '宁夏', '甘肃',
        '海南', '贵州', '澳门', '台湾'
    ]

    操作 {
        // 属性设值
        工作地所在省 = '成都'

        // 四则运算
        模型_线上人行子模型评分 = 1 * 年龄

        // 逻辑判断
        if (年龄 > 30) {
            申请贷款金额 = 10
        }
    }

    拒绝 {
        (工作地所在省 in 禁入区域或暂时禁入区域分期乐) ||
        (居住地所在省 in 禁入区域或暂时禁入区域分期乐)
    }
}