策略名 = 'test2'

规则定义 {
    规则名 = '通过规则'
    规则id = 'accept rule'

    通过 {true}
}

规则定义 {
    关闭()
    规则名 = '拒绝规则'
    规则id = 'reject rule'

    拒绝 {true}
}